{% extends 'base.html' %}
{% load extra_tags %}
{% load staticfiles %}
{% block body_id %}wormbase_gene_descs{% endblock %}
{% block page_title %}Wormbase Gene Descriptions{% endblock %}
WormBase version: WS250

{% block content %}
<div class='geneDescFileSearch'>
    <input type='file' id='geneFile'>
    <button id='searchFile' type='button'>Search</button>
    <button id='reset' type='button'>Reset</button>
</div>

<table id='gene_table'
  class='display compact cell-border'>
  <thead>
    <tr>
      <th>id</th>
      <th>cosmid_id</th>
      <th>locus</th>
      <th>gene_type</th>
      <th>gene_class</th>
      <th>functional_description</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>id</th>
      <th>cosmid_id</th>
      <th>locus</th>
      <th>gene_type</th>
      <th>gene_class_description
      <th>functional_description</th>
    </tr>
  </tfoot>
</table>


<script>
  $(document).ready(function() {
    var table = $('#gene_table').DataTable({
      'ajax': '/static/wbm_gene_descs.json',
      'columns':[
        {'data':'id'},
        {'data':'cosmid_id'},
        {'data':'locus'},
        {'data':'gene_type'},
        {'data':'gene_class_description'},
        {'data':'functional_description'}
      ],
      'scrollY': 500,
      'deferRender': true,
      'scrollCollapse': true,
      'scroller': true,
      'smart':true,
      'dom': 'Bfrtip',
      'searchHighlight': true,
      'buttons': [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });


    table.on('draw', function() {
      var body = $(table.table().body());

      body.unhighlight();

        if ( table.rows( { filter: 'applied' } ).data().length ) {
            body.highlight( table.search() );
        }

    });

    $('#searchFile').on('click', function(){
      var file = document.getElementById("geneFile").files[0];
      var txt = "";
      if (file) {
          if (file.length == 0 || file.length > 1) {
              txt = "Please select a file.";
          } else {

            var reader = new FileReader();
            reader.onload = function(event) {
              var content = event.target.result;
              var lines = content.replace(/,/g, '|').trim();

              table.search(lines, true, false).draw();

            }
            reader.readAsText(file);

          }
      }
      else {
          if (file.value == "") {
              txt += "Please select a file.";
          } else {
              txt += "The file property is not supported by your browser!";
              txt  += "<br>The path of the selected file: " + file.value; // If the browser does not support the files property, it will return the path of the selected file instead.
          }
      }

    });

    $('#reset').on('click', function(){

      table.search('').draw();
      $('#geneFile').val('');

    });

  });

</script>
{% endblock %}
