{% extends 'base.html' %} {% load extra_tags %} {% load staticfiles %} {% block body_id %}wormbase_gene_descs{% endblock %} {% block page_title %}Wormbase Gene Descriptions{% endblock %} WormBase version: WS250 {% block content %}

<!-- <div class='geneDescFileSearch'>
  <input type='file' id='geneFile'>
  <button id='searchFile' type='button'>Search</button>
  <button id='reset' type='button'>Reset</button>
</div> -->

<!-- <form action="" method="get">
  <table>{{ form.as_table }}</table>
  <button type="submit" class="submit">Search</button>
</form> -->

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <!-- <table>{{ file_field.as_table }}</table> -->
  <button type="submit" class="submit">Search</button>
</form>

<table id='gene_table' class='display compact cell-border'>
  <!-- <thead>
    <tr>
      <th>pk</th>
      <th>cosmid_id</th>
      <th>locus</th>
      <th>gene_type</th>
      <th>gene_class_description</th>
      <th>functional_description</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>pk</th>
      <th>cosmid_id</th>
      <th>locus</th>
      <th>gene_type</th>
      <th>gene_class_description</th>
      <th>functional_description</th>
    </tr>
  </tfoot> -->
</table>

<script>
  $(document).ready(function() {
    var jsonString = '{{ data | safe }}';
    // console.log(jsonString);
    // var d1 = JSON.stringify(jsonString);
    // console.log(JSON.parse(d1));
    var table = $('#gene_table').DataTable({
      'paging': false,
      'ordering': false,
      'data': {{ data | safe }},
      'columns':[
        {'title': 'gene'},
        {'title': 'cosmid'},
        {'title': 'locus'},
        {'title': 'gene_type'},
        {'title': 'gene_class_description'},
        {'title': 'functional_description'},
        {'title': 'clone'},
        {'title': 'transcript_isoform'},
        {'title': 'stock'},
      ],
      // 'scrollY': 500,
      // 'scrollX': true,
      'searching': false,
      // 'scrollCollapse':true,
      // 'smart': true,
      'dom': 'Bfrtip',
      // 'searchHighlight': true,
      'buttons': [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });


    table.on('draw', function() {
      var body = $(table.table().body());

      body.unhighlight();

      if (table.rows({
          filter: 'applied'
        }).data().length) {
        body.highlight(table.search());
      }

    });

    $('#searchFile').on('click', function() {
      var file = document.getElementById("geneFile").files[0];
      var txt = "";
      if (file) {
        if (file.length == 0 || file.length > 1) {
          txt = "Please select a file.";
        } else {

          var reader = new FileReader();
          reader.onload = function(event) {
            var content = event.target.result;
            var lines = content.replace(/,/g, '|').trim();

            table.search(lines, true, false).draw();

          }
          reader.readAsText(file);

        }
      } else {
        if (file.value == "") {
          txt += "Please select a file.";
        } else {
          txt += "The file property is not supported by your browser!";
          txt += "<br>The path of the selected file: " + file.value; // If the browser does not support the files property, it will return the path of the selected file instead.
        }
      }

    });

    $('#reset').on('click', function() {

      table.search('').draw();
      $('#geneFile').val('');

    });

  });
</script>
{% endblock %}
