<h1 id="site-title">
  <a href="{% url 'home_url' %}">
    Early Embryo Genetic Interactions Project
  </a>
</h1>

<div id="menu">
  {% url 'worms_url' as worms_url %}
  {% url 'clones_url' as clones_url %}
  {% url 'library_plates_url' as library_plates_url %}
  {% url 'find_experiment_plates_url' as find_experiment_plates_url %}
  {% url 'find_experiment_wells_url' as find_experiment_wells_url %}
  {% url 'find_single_knockdown_url' as find_single_knockdown_url %}
  {% url 'find_double_knockdown_url' as find_double_knockdown_url %}
  {% url 'find_secondary_scores_url' as find_secondary_scores_url %}
  {% url 'score_experiment_wells_url' as score_experiment_wells_url %}
  {% url 'find_replicates_for_contact_sheet_url' as find_replicates_for_contact_sheet_url %}
  {% url 'descriptions_url' as descriptions_url %}
  {% url 'blast_url' as blast_url %}

  <a href="{{ worms_url }}"
      {% ifequal request.path worms_url %}
      class="active"
      {% endifequal %}>
    Worms
  </a>

  <a href="{{ clones_url }}"
      {% ifequal request.path clones_url %}
      class="active"
      {% endifequal %}>
    Clones
  </a>

  <a href="{{ library_plates_url }}"
      {% ifequal request.path library_plates_url %}
      class="active"
      {% endifequal %}>
    Library
  </a>

  <div class='dropdown'>

    <button onclick='dropdown()' class='dropbtn'>Search</button>
    <div id='dropdownList' class='dropdown-content'>
      <a href="{{ find_experiment_plates_url }}" 
          {% ifequal request.path find_experiment_plates_url %}
            class="active" 
          {% endifequal %}>
        Experiment Plates
      </a>
      <a href="{{ find_experiment_wells_url }}" 
          {% ifequal request.path find_experiment_wells_url %}
            class="active" 
          {% endifequal %}>
        Experiment Wells
      </a>
      <a href="{{ find_single_knockdown_url }}" 
          {% ifequal request.path find_single_knockdown_url %}
            class="active" 
          {% endifequal %}>
        Single Knockdown
      </a>
      <a href="{{ find_double_knockdown_url }}" 
          {% ifequal request.path find_double_knockdown_url %}
            class="active" 
          {% endifequal %}>
        Double Knockdown
      </a>
      <a href="{{ find_secondary_scores_url }}" 
          {% ifequal request.path find_secondary_scores_url %}
            class="active" 
          {% endifequal %}>
        Secondary Scores
      </a>
    </div>

  </div>

  <!-- <a href="{{ find_experiment_plates_url }}"
      {% ifequal request.path find_experiment_plates_url %}
      class="active"
      {% endifequal %}>
    Find Experiment Plates
  </a>

  <a href="{{ find_experiment_wells_url }}"
      {% ifequal request.path find_experiment_wells_url %}
      class="active"
      {% endifequal %}>
    Find Experiment Wells
  </a>

  <a href="{{ find_single_knockdown_url }}"
      {% ifequal request.path find_single_knockdown_url %}
      class="active"
      {% endifequal %}>
    Single Knockdown
  </a>

  <a href="{{ find_double_knockdown_url }}"
      {% ifequal request.path find_double_knockdown_url %}
      class="active"
      {% endifequal %}>
    Double Knockdown
  </a>

  <a href="{{ find_secondary_scores_url }}"
      {% ifequal request.path find_secondary_scores_url %}
      class="active"
      {% endifequal %}>
    Secondary Scores
  </a> -->

  <a href="{{ score_experiment_wells_url }}"
      {% ifequal request.path score_experiment_wells_url %}
      class="active"
      {% endifequal %}>
    Score Secondary
  </a>

  <a href="{{ find_replicates_for_contact_sheet_url }}"
      {% ifequal request.path find_replicates_for_contact_sheet_url %}
      class="active"
      {% endifequal %}>
    Replicates Contact Sheet
  </a>

  <div class='dropdown'>

    <button onclick='dropdown()' class='dropbtn'>Tools</button>
    <div id='dropdownList' class='dropdown-content'>
      <a href="{{descriptions_url}}">Gene Descriptions</a>
      <a href="{{ blast_url }}">C. elegans Blast</a>
    </div>

  </div>

</div>


<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function dropdown() {
      document.getElementById("dropdownList").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>
